# Dev mode
PUBLIC_ENABLE_OFFLINE_MODE=true
#APSIS
ENABLE_CRM=false
APSIS_CLIENT_ID=""
APSIS_CLIENT_SECRET=""
APSIS_KEYSPACE_DISCRIMINATOR=""
APSIS_SECTION_DISCRIMINATOR=""
APSIS_CONSENTS_MEDIA_PRESS_DISCRIMINATOR=""
APSIS_CONSENTS_CONTENT_MEDIA_CREATOR_DISCRIMINATOR=""
APSIS_CONSENTS_NEWSLETTER_PRESS_DISCRIMINATOR=""
APSIS_JOURNALIST_FORM_EVENT_VERSION_ID=
APSIS_CONTENT_CREATOR_FORM_EVENT_VERSION_ID=
APSIS_MEDIA_COVERAGE_FORM_EVENT_VERSION_ID=
# Cloudinary
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
PUBLIC_CLOUDINARY_CLOUD_NAME="lt-assets"
PUBLIC_CLOUDINARY_CNAME="static.lausanne-tourisme.ch"
PUBLIC_CLOUDINARY_UPLOAD_PRESET="presskit"
# Backend API
GRAPHQL_URL=""
GRAPHQL_TOKEN=""
GRAPHQL_AGENDA_TOKEN=""
# Highlights page
GROUP_ID_PAGE_HIGHLIGHTS=6
# Map
PUBLIC_MAPTILER_URL="https://api.maptiler.com/maps/01966c94-aaeb-7a9b-b982-d00c93d933f2/style.json?key=2lGPvsPoqTMzSkQ7o2rS"
# Forms
BOTPOISON_SKEY=""
PUBLIC_BOTPOISON_PUBLICKEY=""
# Mail
MAIL_FROM=""
MAIL_TO=""
MAIL_DEFAULT_RECIPIENTS=""
MAIL_HOST="localhost"
MAIL_PORT=1025
MAIL_USERNAME=""
MAIL_PASSWORD=""
ENABLE_MAILCHIMP=false
# Misc
MAILPIT_DASHBOARD_PORT=
PUBLIC_MANDRILL_API_KEY=""
# Cookies
PUBLIC_GOOGLE_TAG_MANAGER_TOKEN=""